@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

/* STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f1827;
    font-family: 'Roboto', sans-serif;
    height: 100vh;

}

h1 {
    color: white;
    text-decoration: underline;
    text-align: center;
    margin: 10px 0px;
    font-size: 48px;
}

.nameInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.nameInput > * {
    margin-top: 5px;
}

a:link, a:visited, a:active {
    margin-top: 10px;
    text-decoration: underline;
    color: white;
    opacity: 0.5;
    transition: all 300ms ease-in-out;
}

a:hover {
    opacity: 1;
}

input {
    font-size: 20px;
    outline: none;
    color: #253b61;
    margin: 10px 0;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    filter: brightness(100%);
}

.btn {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

button {
    cursor: pointer;
    font-size: 24px;
    color: white;
    background: #253b61;
    border: solid 2px white;
    padding: 10px;
    transition: all 300ms ease-in-out;
}

button:hover {
    background: #0f1827
}

.startGame-btn {
    padding: 10px;
    border-radius: 0;
}

.slot {
    height: 100%;
    width: 100%;
    border-radius: 100%; 
    background: white;
    cursor: pointer;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.5);
    transition: all 300ms ease-in-out;
    filter: brightness(100%);
}

.slot:hover {
    filter: brightness(70%);
}

.red {
    background: rgb(255, 58, 58);
}

.yellow {
    background: rgb(255, 255, 71);
}

.connect-container {
    width: 700px;
    display: none;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 70px);
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.25);
    background-color: #253b61;
    padding: 20px;
    padding-bottom: 0;
}

.taken {
    animation: fallDown 500ms ease, disable-pointer-events 500ms;
    cursor: default;
}

.taken:hover {
    filter: brightness(100%);
}


.error {
    animation: shake 0.5s;
}

.removeBtnPlayer {
    display: none;
}

.timer {
    padding: 20px 0;
    font-size: 36px;
    color: white;
    text-align: center;
}

.turns {
    font-size: 20px;
    color: white;
    text-align: center;
}

.winnerContainer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fade {
    animation: fade 1s linear;
}

.winnerEffect {
    filter: brightness(50%);
}

h2 {
    font-size: 30px;
    text-align: center;
    display: none;
    color: white;
    background: 
    linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.3) 50%,#0000 66%)
    #0f1827;
    background-size:300% 100%;
    padding: 100px;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.5);
    animation: sheen 4s infinite;
}

#restart {
    margin-top: 50px;
}

.blinkAnim {
    animation: blink 1s infinite ease-in-out;
}

/* ANIMATIONS */
@keyframes disable-pointer-events {
    0%, 99% {
      pointer-events: none;  
    }  
  }

@keyframes fallDown {
	0% {
        opacity: 0.7;
        transform: translateY(-450px);
    }
	100% {
        opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes sheen {
    0%, 50% {
        background-position: right;
    }
    90%, 100% {

    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}