#gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
h1{
    margin: 5px;
}
.wrapper{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, 100px);
    gap: 0px 0px;
}
.gridCell{
    border: 2px solid black;
    width: 100px;
    height: 50px;
}

/* Cells that are off */
.gridCell.lightOff{
    background: darkred;
}
.gridCell.lightOff:hover{
    background: gray;
}
/* Cells that are turned on */
.gridCell.lightOn{
    background: #ffcccb
}
.gridCell.lightOn:hover{
    background: gray;
}
